<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">pankaj123</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/globalgrid</property>
        <property name="hibernate.connection.username">collectearth</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">create</property> <!-- create / create-drop / update -->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">false</property>
        
    </session-factory>
</hibernate-configuration>