<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn"
	packages="org.openforis.collect.earth.app.logging">

	<Appenders>
		<RollingFile name="file"
			fileName="${sys:collectEarth.userFolder}/earth_error.log"
			filePattern="${sys:collectEarth.userFolder}/earth_error_%d{MM-dd-yyyy}-%i.log"
			bufferedIO="false">
			<PatternLayout pattern="%-5p %d [%t] %c: %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
			<!-- Filters can be appender-specific -->
		</RollingFile>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %d [%t] %c: %m%n" />
			<!-- Optional: You may define filters here -->
		</Console>

		<JSwingAppender name="jswing-log">
			<RegexFilter regex=".*JSwingAppender.*" onMatch="DENY" onMismatch="ACCEPT"/>
			<PatternLayout pattern="%-5p %d [%t] %c: %m%n" />
		</JSwingAppender>

		<Sentry name="SENTRY">
			<!-- If specific filtering needed, define here -->
			<RegexFilter regex=".*io.sentry.connection.ConnectionException.*" onMatch="DENY" onMismatch="ACCEPT"/>
			<BurstFilter level="ERROR" rate="1" maxBurst="5"/>
		</Sentry>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="file" level="ERROR" />
			<AppenderRef ref="STDOUT" level="INFO" />
			<AppenderRef ref="jswing-log" level="ERROR"/>
			<AppenderRef ref="SENTRY" level="ERROR" />
		</Root>
	</Loggers>
</Configuration>
