<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Appenders>
		<RollingFile name="file"
			fileName="${sys:collectEarth.userFolder}/earth_error.log"
			filePattern="${sys:collectEarth.userFolder}/earth_error_%d{MM-dd-yyyy}-%i.log"
			bufferedIO="true" bufferSize="8192">
			<PatternLayout pattern="%-5p %d [%t] %c: %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
			<!-- Filters can be appender-specific -->
		</RollingFile>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %d [%t] %c: %m%n" />
			<!-- Optional: You may define filters here -->
		</Console>

		<JSwingAppender name="jswing-log">
			<RegexFilter regex=".*JSwingAppender.*" onMatch="DENY"
				onMismatch="ACCEPT" />
			<PatternLayout pattern="%-5p %d [%t] %c: %m%n" />
		</JSwingAppender>

		<Sentry name="SENTRY" dsn="https://24dd6a90c1e4461484712db99c3b3bb7:831e42661c5c4ff3aa5eca270db3f619@sentry.io/299626">
			<!-- If specific filtering needed, define here -->
			
			<!-- Wrap all filters here -->
			<Filters>
				<RegexFilter
					regex=".*io.sentry.connection.ConnectionException.*" onMatch="DENY"
					onMismatch="ACCEPT" />

				<!-- now BurstFilter will be recognized -->
				<BurstFilter level="ERROR"     
					rate="1"          
					maxBurst="5"       
					onMatch="DENY"      
					onMismatch="NEUTRAL"/>
			</Filters>
		</Sentry>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="file" level="ERROR" />
			<AppenderRef ref="STDOUT" level="INFO" />
			<AppenderRef ref="jswing-log" level="ERROR" />
			<AppenderRef ref="SENTRY" level="ERROR" />
		</Root>
	</Loggers>
</Configuration>
