.classpath
.project
.settings
.springBeans
target
bin
classes
/createJar.jardesc
/eye.properties
/gePlugin.kmz
/resultAnssi.kml
/server.log
/*.kml
/*.kmz
/*.db
/*.log
earthFiles
generated
*_files
*.db
